
<div id="homeContainer">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/parent">PARENT</a>
<a href="/kid">KIDS</a>
<br><br><br><br><br>
<h1>Welcome to Roku Video App, please enjoy your movies :)</h1>
</div>
